.root{
    display: flex;
    justify-content: left;
    padding: 13px 0;
    background: #f7f7f7;
}
.strong{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.disable{
    opacity: .3;
    cursor: not-allowed;
}