.root{
  display: flex;
  justify-content: center;
}

.biographySection {
  padding: 24px 0;
  background: #FFFFFF;
}

.backButton{
  margin-bottom: 20px;
}
.img{
  width:20px;
  opacity: 0;
  transition: opacity 0.2s linear;
  &:hover{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}

